@use '../abstracts' as *;

.footer.bg-black {
	background-color: #000;

	p {
		color: white !important;
		font-size: 16px;
		line-height: 1.6;
	}

	h3 {
		font-size: 28px;
	}

	ul {
		a {
			font-size: 18px;
			color: #888 !important;
			transition: color 0.3s ease;

			&:hover {
				color: #fff !important;
			}
		}
	}
}


.footer .footer-links {
	padding-top: 118px;
}

@media (max-width: 767.98px) {
	.footer .footer-links {
		padding-top: 0;
	}
}
