@use '../abstracts' as *;

.icon-box {
	border: 1px solid #ccc;
	padding: 20px;
	text-align: center;
	border-radius: 5px;
}

@media (max-width: 767.98px) {
	footer .footer-links {
		padding-top: 0;
	}
}

@media screen and (max-width: 768px) {
	.navbar-toggler {
		filter: invert(1);
	}
}

@media (max-width: 991.98px) {
	.navbar-collapse {
		background: rgba(0, 0, 0, 0.95);
		padding: 1rem;
		margin-top: 1rem;
		border-radius: 8px;
	}

	.navbar-nav .nav-link {
		padding: 0.75rem 0;
	}
}
